body {
    background-color: #cc0000;
    color: #fff;
    font-family: Arial, sans-serif;
}
header {
    background-color: #e60000;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #ffff00;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #0d0202;
    margin: 0 10px;
}
main {
    padding: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
}
footer {
    background-color: #0d0202;
    padding: 10px;
    text-align: center;
}